set_product_name.json
{
  "name": "set_product_name",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        -48
      ],
      "id": "2c09d3c4-1ab1-4b95-90eb-e15623836fdb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        -48
      ],
      "id": "44df3272-cf61-48ed-9159-ca55b8ae20cc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -16,
        -48
      ],
      "id": "6f589e2f-4d62-487f-ad80-f6126283da54",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.product_item.productDescriptions.href }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        80
      ],
      "id": "2634696a-98c1-4f72-aba0-bc5a93e5b6d3",
      "name": "get_products_description_1",
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "Ki4OacSizfZYmxnQ",
          "name": "Shoprenter"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.items[0].href }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        80
      ],
      "id": "bc39c03b-b8bf-4d35-a69f-f05f019063ee",
      "name": "get_products_description_2",
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "Ki4OacSizfZYmxnQ",
          "name": "Shoprenter"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ac2dd30-2129-4179-a3e0-c3a057e4e77d",
              "name": "product_item",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        80
      ],
      "id": "bba0512e-1a81-416f-bd53-44b6b6c9ef47",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.manufacturer.href }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        80
      ],
      "id": "2acf746e-3d4b-40f5-ab37-4b3bf33b07fb",
      "name": "get_manufacturer",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "Ki4OacSizfZYmxnQ",
          "name": "Shoprenter"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "var item = $('Edit Fields').first().json.product_item;\nvar product_name = $json.name || \"\";\nvar short_description = $json.shortDescription || \"\";\nvar long_description = $json.description || \"\";\nitem[\"name\"] = product_name;\nitem[\"short_description\"] = short_description;\nitem[\"long_description\"] = long_description;\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        80
      ],
      "id": "4678e462-bfe2-470b-9b6e-7a9c50335b09",
      "name": "set_metadata_1"
    },
    {
      "parameters": {
        "jsCode": "var item = $('set_metadata_1').first().json;\nif($json.error){\n  item[\"manufacturer\"] = \"\";\n}\nelse {\n  var response = $json.name;\n  item[\"manufacturer\"] = response;\n}\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        80
      ],
      "id": "13e9be1f-7774-4a7d-a15b-bfcd4c470e00",
      "name": "set_metadata_2"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_products_description_1": {
      "main": [
        [
          {
            "node": "get_products_description_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_products_description_2": {
      "main": [
        [
          {
            "node": "set_metadata_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "get_products_description_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_manufacturer": {
      "main": [
        [
          {
            "node": "set_metadata_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_metadata_1": {
      "main": [
        [
          {
            "node": "get_manufacturer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_metadata_2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "166a50d2-e70e-48ca-a3f7-e25f3b881049",
  "meta": {
    "instanceId": "644a4d505e037bae7dda68fe55c5b6e832d83e509a969c6ef79cae3766d8d799"
  },
  "id": "YgdLk0QNK0or4wJ0kDSqf",
  "tags": []
}